.blog{
    text-align: center;
    font-family: 'Advent Pro';
    border-bottom: 0.3125rem solid  white;
    
    @include tablet{
        @include flex(space-between, center)
    }

    &__item{
        height: 400px;
        padding: 0 1.25rem;
        border: 3px #103D5C solid;
        @include flex(center, center, $dir:column);

        @include tablet{
            width: 34%;
        }
    }
    &__title{
        color: #103D5C;
        font-size: 2.3rem;
        margin-bottom: 1.25rem;
        letter-spacing: 0.1875rem;
    }
    &__text{
        font-size: 1.125rem;
        letter-spacing: 0.125rem;
        color: #103D5C;
        font-weight: bold;
    }

}
.bg{
    background: #F7920D;
    border: none;
}
.bg-dark{
    background: #103D5C;
    border: none;

}
.light{
    color: #F7920D;
}