.contact{
    background: #ccc;
    font-family: 'Advent Pro';
    padding: 100px 0;

    &__main-title{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: #F7920D;
    }
    &__container{
        @include flex(space-between,center, wrap, column);
    }
    &__item{
        @include flex(space-between, center);
        margin-top: 30px;
    }
    &__title{
        font-size: 1.875rem;
        margin: 0 1.25rem 0 0.3125rem;
        color: #103D5C;
    }
    &__icon{
        font-size: 1.875rem;
    }
    &__link{
        font-size: 1.25rem;
        &.wa{
            color: #103D5C;
            font-size: 1.875rem;
        }
    }
}   